@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

:root {
  --primary: #940030;
  --secondary: #e03a00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000000;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.7s ease-in-out;
}

.navbar.scrolled {
  background-color: #000000;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 1rem;
  font-weight: 400;
}

.navbar .navbar-nav a:hover {
  color: var(--secondary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #fff;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

#hamburger-menu {
  display: none;
  color: #fff;
}

#hamburger-menu:hover {
  color: var(--secondary);
}

/* hero section */
.hero {
  min-height: 100vh;
  padding: 1.5rem 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../img/bg-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
  gap: 4rem;
}

.hero h4 {
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
}

.hero h1 {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
}

.hero h1 span {
  color: var(--secondary);
  font-style: italic;
}

.hero p {
  text-align: center;
  font-weight: 300;
  font-size: 0.8rem;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* about section */
.about {
  justify-content: center;
  padding: 1.5rem 7%;
}

.about h2,
h2 {
  text-align: center;
  font-size: 2.2rem;
  padding: 4rem;
  color: var(--secondary);
}

.about-content {
  display: flex;
  gap: 3rem;
}

.about-content aside img {
  max-width: 50vw;
}

.about-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.about-article h4 {
  font-size: 1.4rem;
  font-weight: 500;
  font-style: italic;
}

/* menu section */
.menu {
  min-height: 100vh;
  justify-content: center;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 400px;
  height: 300px;
  overflow: hidden;
  margin: 1rem;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.card-desc {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  background: #1919195d;
  backdrop-filter: blur(4px);
  color: #fff;
  transition: 0.5s ease;
}

.card-desc h3 {
  font-size: 2.5rem;
  font-weight: 500;
}

.card:hover .card-desc {
  right: 0;
}

/* subscription section */
.subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background: url("../img/bg-subscription.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  margin-top: 7rem;
}

.subscription p {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
}

input[type="email"] {
  padding: 0.8rem;
  width: 24rem;
  margin-top: 1.5rem;
  border-radius: 10px;
  font-size: 1rem;
}

.input {
  position: relative;
}

.subscribe-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.8rem;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  background-color: var(--secondary);
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
}

/* footer section */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 7%;
  background: #000000;
  color: #fff;
}

.contact a,
.address h3,
.social h3 {
  margin-bottom: 1.2rem;
}

.address {
  text-align: center;
}

.social {
  text-align: right;
}

.social-icon {
  color: #fff;
  padding-left: 1rem;
}

.social a:hover {
  color: var(--secondary);
}

.copyright {
  text-align: center;
  background: #000000;
  color: #fff;
  padding: 1rem;
}

.copyright a {
  color: #fff;
  font-weight: 700;
  text-decoration: underline;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }

  .card {
    width: 340px;
    height: 220px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #010101;
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-content aside img {
    max-width: 85vw;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .navbar {
    padding: 2rem 7%;
  }

  .navbar .navbar-nav {
    width: 100%;
  }

  .navbar .navbar-nav a {
    text-align: center;
    margin: 4rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: center;
  }

  .hero {
    gap: 3rem;
  }

  .hero h1 {
    font-size: 3.5rem;
  }

  .footer {
    flex-direction: column;
  }

  .contact,
  .address,
  .social {
    text-align: center;
    margin: 1.4rem;
  }
}
